*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color:rgba(0,0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 6px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: lightblue;
}

.form-control{
    /* background-color: transparent; */
    position: relative;
    border: 0;
    border-bottom: 2px;
}