@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}



body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 80vw;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    -webkit-transition: all 700ms ease-in;
}
.panel.active{
    flex: 5;
}